<datalist id="pokedex">
    <option name="1" value="Bulbasaur"></option>
    <option name="2" value="Ivysaur"></option>
    <option value="Venusaur"></option>
    <option value="Charmander"></option>
    <option value="Charmeleon"></option>
    <option value="Charizard"></option>
    <option value="Squirtle"></option>
    <option value="Wartortle"></option>
    <option value="Blastoise"></option>
    <option value="Caterpie"></option>
    <option value="Metapod"></option>
    <option value="Butterfree"></option>
    <option value="Weedle"></option>
    <option value="Kakuna"></option>
    <option value="Beedrill"></option>
    <option value="Pidgey"></option>
    <option value="Pidgeotto"></option>
    <option value="Pidgeot"></option>
    <option value="Rattata"></option>
    <option value="Raticate"></option>
    <option value="Spearow"></option>
    <option value="Fearow"></option>
    <option value="Ekans"></option>
    <option value="Arbok"></option>
    <option value="Pikachu"></option>
    <option value="Raichu"></option>
    <option value="Sandshrew"></option>
    <option value="Sandslash"></option>
    <option value="Nidoran F"></option>
    <option value="Nidorina"></option>
    <option value="Nidoqueen"></option>
    <option value="Nidoran M"></option>
    <option value="Nidorino"></option>
    <option value="Nidoking"></option>
    <option value="Clefairy"></option>
    <option value="Clefable"></option>
    <option value="Vulpix"></option>
    <option value="Ninetales"></option>
    <option value="Jigglypuff"></option>
    <option value="Wigglytuff"></option>
    <option value="Zubat"></option>
    <option value="Golbat"></option>
    <option value="Oddish"></option>
    <option value="Gloom"></option>
    <option value="Vileplume"></option>
    <option value="Paras"></option>
    <option value="Parasect"></option>
    <option value="Venonat"></option>
    <option value="Venomoth"></option>
    <option value="Diglett"></option>
    <option value="Dugtrio"></option>
    <option value="Meowth"></option>
    <option value="Persian"></option>
    <option value="Psyduck"></option>
    <option value="Golduck"></option>
    <option value="Mankey"></option>
    <option value="Primeape"></option>
    <option value="Growlithe"></option>
    <option value="Arcanine"></option>
    <option value="Poliwag"></option>
    <option value="Poliwhirl"></option>
    <option value="Poliwrath"></option>
    <option value="Abra"></option>
    <option value="Kadabra"></option>
    <option value="Alakazam"></option>
    <option value="Machop"></option>
    <option value="Machoke"></option>
    <option value="Machamp"></option>
    <option value="Bellsprout"></option>
    <option value="Weepinbell"></option>
    <option value="Victreebel"></option>
    <option value="Tentacool"></option>
    <option value="Tentacruel"></option>
    <option value="Geodude"></option>
    <option value="Graveler"></option>
    <option value="Golem"></option>
    <option value="Ponyta"></option>
    <option value="Rapidash"></option>
    <option value="Slowpoke"></option>
    <option value="Slowbro"></option>
    <option value="Magnemite"></option>
    <option value="Magneton"></option>
    <option value="Farfetch'd"></option>
    <option value="Doduo"></option>
    <option value="Dodrio"></option>
    <option value="Seel"></option>
    <option value="Dewgong"></option>
    <option value="Grimer"></option>
    <option value="Muk"></option>
    <option value="Shellder"></option>
    <option value="Cloyster"></option>
    <option value="Gastly"></option>
    <option value="Haunter"></option>
    <option value="Gengar"></option>
    <option value="Onix"></option>
    <option value="Drowzee"></option>
    <option value="Hypno"></option>
    <option value="Krabby"></option>
    <option value="Kingler"></option>
    <option value="Voltorb"></option>
    <option value="Electrode"></option>
    <option value="Exeggcute"></option>
    <option value="Exeggutor"></option>
    <option value="Cubone"></option>
    <option value="Marowak"></option>
    <option value="Hitmonlee"></option>
    <option value="Hitmonchan"></option>
    <option value="Lickitung"></option>
    <option value="Koffing"></option>
    <option value="Weezing"></option>
    <option value="Rhyhorn"></option>
    <option value="Rhydon"></option>
    <option value="Chansey"></option>
    <option value="Tangela"></option>
    <option value="Kangaskhan"></option>
    <option value="Horsea"></option>
    <option value="Seadra"></option>
    <option value="Goldeen"></option>
    <option value="Seaking"></option>
    <option value="Staryu"></option>
    <option value="Starmie"></option>
    <option value="Mr. Mime"></option>
    <option value="Scyther"></option>
    <option value="Jynx"></option>
    <option value="Electabuzz"></option>
    <option value="Magmar"></option>
    <option value="Pinsir"></option>
    <option value="Tauros"></option>
    <option value="Magikarp"></option>
    <option value="Gyarados"></option>
    <option value="Lapras"></option>
    <option value="Ditto"></option>
    <option value="Eevee"></option>
    <option value="Vaporeon"></option>
    <option value="Jolteon"></option>
    <option value="Flareon"></option>
    <option value="Porygon"></option>
    <option value="Omanyte"></option>
    <option value="Omastar"></option>
    <option value="Kabuto"></option>
    <option value="Kabutops"></option>
    <option value="Aerodactyl"></option>
    <option value="Snorlax"></option>
    <option value="Articuno"></option>
    <option value="Zapdos"></option>
    <option value="Moltres"></option>
    <option value="Dratini"></option>
    <option value="Dragonair"></option>
    <option value="Dragonite"></option>
    <option value="Mewtwo"></option>
    <option value="Mew"></option>
    <option value="Chikorita"></option>
    <option value="Bayleef"></option>
    <option value="Meganium"></option>
    <option value="Cyndaquil"></option>
    <option value="Quilava"></option>
    <option value="Typhlosion"></option>
    <option value="Totodile"></option>
    <option value="Croconaw"></option>
    <option value="Feraligatr"></option>
    <option value="Sentret"></option>
    <option value="Furret"></option>
    <option value="Hoothoot"></option>
    <option value="Noctowl"></option>
    <option value="Ledyba"></option>
    <option value="Ledian"></option>
    <option value="Spinarak"></option>
    <option value="Ariados"></option>
    <option value="Crobat"></option>
    <option value="Chinchou"></option>
    <option value="Lanturn"></option>
    <option value="Pichu"></option>
    <option value="Cleffa"></option>
    <option value="Igglybuff"></option>
    <option value="Togepi"></option>
    <option value="Togetic"></option>
    <option value="Natu"></option>
    <option value="Xatu"></option>
    <option value="Mareep"></option>
    <option value="Flaaffy"></option>
    <option value="Ampharos"></option>
    <option value="Bellossom"></option>
    <option value="Marill"></option>
    <option value="Azumarill"></option>
    <option value="Sudowoodo"></option>
    <option value="Politoed"></option>
    <option value="Hoppip"></option>
    <option value="Skiploom"></option>
    <option value="Jumpluff"></option>
    <option value="Aipom"></option>
    <option value="Sunkern"></option>
    <option value="Sunflora"></option>
    <option value="Yanma"></option>
    <option value="Wooper"></option>
    <option value="Quagsire"></option>
    <option value="Espeon"></option>
    <option value="Umbreon"></option>
    <option value="Murkrow"></option>
    <option value="Slowking"></option>
    <option value="Misdreavus"></option>
    <option value="Unown"></option>
    <option value="Wobbuffet"></option>
    <option value="Girafarig"></option>
    <option value="Pineco"></option>
    <option value="Forretress"></option>
    <option value="Dunsparce"></option>
    <option value="Gligar"></option>
    <option value="Steelix"></option>
    <option value="Snubbull"></option>
    <option value="Granbull"></option>
    <option value="Qwilfish"></option>
    <option value="Scizor"></option>
    <option value="Shuckle"></option>
    <option value="Heracross"></option>
    <option value="Sneasel"></option>
    <option value="Teddiursa"></option>
    <option value="Ursaring"></option>
    <option value="Slugma"></option>
    <option value="Magcargo"></option>
    <option value="Swinub"></option>
    <option value="Piloswine"></option>
    <option value="Corsola"></option>
    <option value="Remoraid"></option>
    <option value="Octillery"></option>
    <option value="Delibird"></option>
    <option value="Mantine"></option>
    <option value="Skarmory"></option>
    <option value="Houndour"></option>
    <option value="Houndoom"></option>
    <option value="Kingdra"></option>
    <option value="Phanpy"></option>
    <option value="Donphan"></option>
    <option value="Porygon2"></option>
    <option value="Stantler"></option>
    <option value="Smeargle"></option>
    <option value="Tyrogue"></option>
    <option value="Hitmontop"></option>
    <option value="Smoochum"></option>
    <option value="Elekid"></option>
    <option value="Magby"></option>
    <option value="Miltank"></option>
    <option value="Blissey"></option>
    <option value="Raikou"></option>
    <option value="Entei"></option>
    <option value="Suicune"></option>
    <option value="Larvitar"></option>
    <option value="Pupitar"></option>
    <option value="Tyranitar"></option>
    <option value="Lugia"></option>
    <option value="Ho-oh"></option>
    <option value="Celebi"></option>
    <option value="Azurill"></option>
    <option value="Wynaut"></option>
    <option value="Ambipom"></option>
    <option value="Mismagius"></option>
    <option value="Honchkrow"></option>
    <option value="Bonsly"></option>
    <option value="Mime Jr."></option>
    <option value="Happiny"></option>
    <option value="Munchlax"></option>
    <option value="Mantyke"></option>
    <option value="Weavile"></option>
    <option value="Magnezone"></option>
    <option value="Lickilicky"></option>
    <option value="Rhyperior"></option>
    <option value="Tangrowth"></option>
    <option value="Electivire"></option>
    <option value="Magmortar"></option>
    <option value="Togekiss"></option>
    <option value="Yanmega"></option>
    <option value="Leafeon"></option>
    <option value="Glaceon"></option>
    <option value="Gliscor"></option>
    <option value="Mamoswine"></option>
    <option value="Porygon-Z"></option>
    <option value="Treecko"></option>
    <option value="Grovyle"></option>
    <option value="Sceptile"></option>
    <option value="Torchic"></option>
    <option value="Combusken"></option>
    <option value="Blaziken"></option>
    <option value="Mudkip"></option>
    <option value="Marshtomp"></option>
    <option value="Swampert"></option>
    <option value="Ralts"></option>
    <option value="Kirlia"></option>
    <option value="Gardevoir"></option>
    <option value="Gallade"></option>
    <option value="Shedinja"></option>
    <option value="Kecleon"></option>
    <option value="Beldum"></option>
    <option value="Metang"></option>
    <option value="Metagross"></option>
    <option value="Bidoof"></option>
    <option value="Spiritomb"></option>
    <option value="Lucario"></option>
    <option value="Gible"></option>
    <option value="Gabite"></option>
    <option value="Garchomp"></option>
    <option value="Mawile"></option>
    <option value="Lileep"></option>
    <option value="Cradily"></option>
    <option value="Anorith"></option>
    <option value="Armaldo"></option>
    <option value="Cranidos"></option>
    <option value="Rampardos"></option>
    <option value="Shieldon"></option>
    <option value="Bastiodon"></option>
    <option value="Slaking"></option>
    <option value="Absol"></option>
    <option value="Duskull"></option>
    <option value="Dusclops"></option>
    <option value="Dusknoir"></option>
    <option value="Wailord"></option>
    <option value="Arceus"></option>
    <option value="Turtwig"></option>
    <option value="Grotle"></option>
    <option value="Torterra"></option>
    <option value="Chimchar"></option>
    <option value="Monferno"></option>
    <option value="Infernape"></option>
    <option value="Piplup"></option>
    <option value="Prinplup"></option>
    <option value="Empoleon"></option>
    <option value="Nosepass"></option>
    <option value="Probopass"></option>
    <option value="Honedge"></option>
    <option value="Doublade"></option>
    <option value="Aegislash"></option>
    <option value="Pawniard"></option>
    <option value="Bisharp"></option>
    <option value="Luxray"></option>
    <option value="Aggron"></option>
    <option value="Flygon"></option>
    <option value="Milotic"></option>
    <option value="Salamence"></option>
    <option value="Klinklang"></option>
    <option value="Zoroark"></option>
    <option value="Sylveon"></option>
    <option value="Kyogre"></option>
    <option value="Groudon"></option>
    <option value="Rayquaza"></option>
    <option value="Dialga"></option>
    <option value="Palkia"></option>
    <option value="Giratina"></option>
    <option value="Regigigas"></option>
    <option value="Darkrai"></option>
    <option value="Genesect"></option>
    <option value="Reshiram"></option>
    <option value="Zekrom"></option>
    <option value="Kyurem"></option>
    <option value="Roserade"></option>
    <option value="Drifblim"></option>
    <option value="Lopunny"></option>
    <option value="Breloom"></option>
    <option value="Ninjask"></option>
    <option value="Banette"></option>
    <option value="Rotom"></option>
    <option value="Reuniclus"></option>
    <option value="Whimsicott"></option>
    <option value="Krookodile"></option>
    <option value="Cofagrigus"></option>
    <option value="Galvantula"></option>
    <option value="Ferrothorn"></option>
    <option value="Litwick"></option>
    <option value="Lampent"></option>
    <option value="Chandelure"></option>
    <option value="Haxorus"></option>
    <option value="Golurk"></option>
    <option value="Pyukumuku"></option>
    <option value="Klefki"></option>
    <option value="Talonflame"></option>
    <option value="Mimikyu"></option>
    <option value="Volcarona"></option>
    <option value="Deino"></option>
    <option value="Zweilous"></option>
    <option value="Hydreigon"></option>
    <option value="Latias"></option>
    <option value="Latios"></option>
    <option value="Deoxys"></option>
    <option value="Jirachi"></option>
    <option value="Nincada"></option>
    <option value="Bibarel"></option>
    <option value="Riolu"></option>
    <option value="Slakoth"></option>
    <option value="Vigoroth"></option>
    <option value="Wailmer"></option>
    <option value="Shinx"></option>
    <option value="Luxio"></option>
    <option value="Aron"></option>
    <option value="Lairon"></option>
    <option value="Trapinch"></option>
    <option value="Vibrava"></option>
    <option value="Feebas"></option>
    <option value="Bagon"></option>
    <option value="Shelgon"></option>
    <option value="Klink"></option>
    <option value="Klang"></option>
    <option value="Zorua"></option>
    <option value="Budew"></option>
    <option value="Roselia"></option>
    <option value="Drifloon"></option>
    <option value="Buneary"></option>
    <option value="Shroomish"></option>
    <option value="Shuppet"></option>
    <option value="Solosis"></option>
    <option value="Duosion"></option>
    <option value="Cottonee"></option>
    <option value="Sandile"></option>
    <option value="Krokorok"></option>
    <option value="Yamask"></option>
    <option value="Joltik"></option>
    <option value="Ferroseed"></option>
    <option value="Axew"></option>
    <option value="Fraxure"></option>
    <option value="Golett"></option>
    <option value="Fletchling"></option>
    <option value="Fletchinder"></option>
    <option value="Larvesta"></option>
    <option value="Stunfisk"></option>
</datalist>